<link rel="stylesheet" href="/css/Menu.css">
<div class="contenedor_1">

    <div class="imagen">
        <img src="/archivos/imagenes/LuchoGod.png" height="45px" lenght="45px">
    </div>

    <div class="centrar">
        <p>LuchoSoft</p>
    </div>

</div>
<script src="/js/Menu.js"></script>