<div class="barraLateral">
            <center>
                <h3>Menú</h3>
            </center>
        <div class="sidebar">
                <div class="module">
                    <p class="module-heading">Configuración <i class="bi bi-chevron-down arrow-icon"></i>
                        <!-- Flecha hacia abajo --></p>
                    <ul class="options">
                        <li onclick="window.location.href='gestionroles';">Roles</li>
                        <li onclick="window.location.href='gestionPermisos';">Permisos</li>
                    </ul>
                </div>
                <div class="module">
                    <p class="module-heading">Usuarios <i class="bi bi-chevron-down arrow-icon"></i>
                        <!-- Flecha hacia abajo --></p>
                    <ul class="options">
                        <li onclick="window.location.href='gestionUsuario'">Usuarios</li>
                    </ul>
                </div>
                <div class="module">
                    <p class="module-heading">Compras <i class="bi bi-chevron-down arrow-icon"></i> <!-- Flecha hacia abajo --></p>
                    <ul class="options">
                      <li onclick="window.location.href='CategoriaInsumos'">Categoria de insumos</li>
                      <li onclick="window.location.href='Insumos'">Insumos</li>
                      <li onclick="window.location.href='gestionProveedores';">Proveedores</li>
                      <li onclick="window.location.href='gestionCompras'">Compras</li>
                    </ul>
                </div>
                <div class="module">
                    <p class="module-heading">Producción <i class="bi bi-chevron-down arrow-icon"></i>
                        <!-- Flecha hacia abajo --></p>
                    <ul class="options">
                        <li onclick="window.location.href='OrdenProduccion'">Orden de producción</li>
                    </ul>
                </div>
                <div class="module">
                    <p class="module-heading">Ventas <i class="bi bi-chevron-down arrow-icon"></i>
                        <!-- Flecha hacia abajo --></p>
                    <ul class="options">
                        <li onclick="window.location.href='categoriaProductos'">Categoria de productos</li>
                        <li onclick="window.location.href='gestionProductos';">Productos</li>
                        <li onclick="window.location.href='Clientes';">Clientes</li>
                        <li onclick="window.location.href='pedidos';">Pedidos</li>
                        <li onclick="window.location.href='Ventas';">Ventas</li>
                    </ul>
                </div>
                <div class="usuario" onclick="window.location.href='Inicio'">
                    <a class="usuario-link">
                        <img src="archivos/imagenes/Profile.png" alt="">
                        <span id="spanIcono">Nombre de Usuario</span>
                    </a>
                </div>
  
  
            </div>
        </div>